body{ 
	min-width: 400px;
	max-width: 1024px;
	margin:0px auto;
}

footer, aside, li{
	height: 80px;
	margin-left: 20%
	margin-right: auto;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
}

nav { 
	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	padding: 10px;
}
   
     a{
		color: #38bfba;
		text-decoration: none;
		display: inline-block;
		padding: 15px;
		margin-left: 20px;
	}
	
	#logo{ 
		height: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 30px;
		padding-bottom: 2px;
	}

	main{
		width: 800px;
		height: auto;
		display: block;
		padding-top: 20px;
		padding-bottom: 50px;
		margin-right: auto;
		margin-left: auto;

	}

main2{
	    margin-left: auto;
		margin-right: auto;
		width: 800px;
		height: auto;
		display: block;
		padding-top: 20px;
		

}

img{  
	margin-left: auto;
		margin-right: auto;
		
		display: block;
		padding-top: 20px;
		padding-bottom: 20px;


	}

	h1 {
		border: 1px solid black;
		text-align: center; 
		margin-left: 350px;
		margin-right: 350px;
		font-family: 'Roboto:100', sans-serif;
		font-size: 10px;
		color: #38bfba;
		padding: 10px;
	}

	article{
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	padding: 10px;
	text-align: center;

	}

	article img{ 
	    padding-right: 20px;
		padding-left: 20px;
		padding-right: 20px;
		margin: left: 10px;
		margin-bottom: 10px;
		display: inline-block;
		

	}

	article1{	
		padding-right: 20px;
		padding-left: 20px;
		margin-left: 188px;
		margin-bottom: 10px;
		margin-right: 500px;

	}

	main ul{ list-style-type: none;
		margin-left:1000px;
		padding:0px;
	}


